<app-nav-bar></app-nav-bar>


<div class="bg-orange-500"><h1 class="flex justify-center font-bold"> hi Admin how are you </h1></div>
<div class="flex justify-center p-5">

<button (click)="logOut()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Log Out</button>

</div>

<div class="flex justify-center py-20">
  <app-all-user></app-all-user>
</div>
